/*
styles of splash screen
*/
/* 
    Created on : 25-nov-2013, 16:09:06
    Author     : Fran Aragon Mesa
*/

#index{ background: #0d5f8a; }

#splash_logo img, #splash_buttons{ position: absolute; } 

#splash_logo img:empty, #splash_buttons{
    left: 50%;
    -webkit-transform: translate(-50%, -20%);
    -moz-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    -o-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
}

#splash_logo img:empty{ top: 25%; }

#splash_buttons{
    max-width: 100%;
    top: 65%;
}

#splash_buttons{ top: 70%; }

@media screen and (orientation: portrait) {
    #splash_logo img { max-width: 80%;
        border-radius: 20px;
        opacity: 0.7;
     }

}

@media screen and (orientation: landscape) {
    #splash_logo img { max-height: 60%; 
     max-width: 50%;}
    #splash_logo img:empty{
        top: 31%;
        left: 30%;
        border-radius: 20px;
        opacity: 0.7;
    }
    #splash_buttons{
        top: 40%;
        left: 75%;
    }
}

#splash_buttons button:active{
    color: #fff;
    background: #ff8400;
}

section[role="region"] > .content {
    background-color: #E9FFA5;
}



/***
*/
ul#fichas_ajedrez li, ul#fichas_ajedrez {
    font-size: 1em;
}