/**
* @author Gaston Nina <gastonnina@gmail.com>
* La Paz - Bolivia
*/
body {
	background-color: #ddd;	
}
h1{
	margin-top: 10%;

}
dfn{
	color: #00f;
}
acronym{
	color: #CF5676
}
blockquote{
	color: #444D59
}